@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Oswald:wght@200..700&display=swap');
:root {

    --preto: #2b2d42ff;
    --cinza: #8d99aeff;
    --branco: #edf2f4ff;
    --vermelho: #ef233cff;
    --titulo: "Alan Sans", sans-serif;
    --texto: "Oswald", sans-serif;
}

body{
    background-color: var(--preto);
    font-family: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
button{ background-color: var(--preto);
    color: var(--branco);
    padding: 10px;
    border: 2px solid var(--branco);
    border-radius: 8px;
    font-size: 20px;
    margin: 5px;
}
button:hover{
    background-color: var(--cinza);
    color: var(--preto);
    transition: 0.5;
    border: 2px solid
}
    