@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Oswald:wght@200..700&display=swap');
:root {

    --preto: #2b2d42ff;
    --cinza: #8d99aeff;
    --branco: #edf2f4ff;
    --vermelho: #ef233cff;
    --titulo: "Alan Sans", sans-serif;
    --texto: "Oswald", sans-serif;
}

body{
    background-color: var(--preto);
    font-family: var(--texto);
}